body {
    background-color: #75d7ad;
    overflow-y:hidden;
    overflow-x:hidden;
}


#receiver {
    background: transparent;
    color: transparent;
    z-index: 6666;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    position: absolute;
    padding: 0px;
    margin: 0px;
    text-align: center;
    overflow-y:hidden;
    overflow-x:hidden;
}

