body {
    background-color: #75d7ad;
    overflow-y:hidden;
    overflow-x:hidden;
}


#receiver {
    background: transparent;
    color: transparent;
    z-index: 6666;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    position: absolute;
    padding: 0px;
    margin: 0px;
    text-align: center;
    overflow-y:hidden;
    overflow-x:hidden;
}




#main {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
}


#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#log {
    background: lightgray;
    padding: 20px;
    margin: 20px;
    overflow-y: scroll;
    align-items: start;
    text-align: left;
    font-size: 1vh;
}